#nav
{
	width:80%;
	margin: 0 auto;
	text-align:center;
	font-size:0;
	height:25px;
}

#nav a
{
	display: inline-block;
    padding: 0 20px;
    margin-right:1px; /* It specifies the distance between each tab */
    background:#F7F7F7;
    color:Black;
    text-decoration:none;
    font: normal 12px Arial;
    line-height: 24px;
    border:1px solid #CAD0DB;
    border-bottom:0;
    color:#666;
    vertical-align:top;/*ChangeSet#2*/
    text-decoration:none;
}


#nav a:hover, #nav a.current
{
    background:#E9ECF0;
    line-height: 25px;
    color:#000;
}

#navsub
{
    height:6px;
    border:1px solid #CAD0DB;
    background:#E9ECF0;
}


#section 
{
	width: 80%;
	border: 2px solid black;
	margin:0 auto;
	margin-top: 5px;
}

#section h2
{
	
}
